body {
    background-color: #f1f1f1;
    color: $primary-black;
}

.container {
    display: flex;
    
    .main_content {
        width: 100%;
        height: auto;
        .body_content{
            width: 100%;
            height: auto;
            .wrapper{
                margin: 20px auto;
                width: 95%;
                height: 100%;
                

                .info_cards{
                    width: 100%;
                    height: 150px;
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr 1fr;
                    grid-template-rows: 1fr;
                    grid-gap: 1rem;
                    margin-bottom: 20px;
                    .card{
                        border-radius: 10px;
                        width: 100%;
                        height: 100%;
                        padding: 10px 0px;
                        height: auto;
                        background: #fff;
                        @include flexbox(center,center,row);
                        position: relative;
                        
                        .card_container{
                            position: relative;
                            width: 90%;
                            height: 95%;
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;
                            .card_icon{
                                position: relative;
                                // top: -25px;
                                width: 50px;
                                height: 50px;
                                margin-right: 10px;
                                background: rgb(54, 184, 2);
                                box-shadow: 2px 2px 10px rgba(54, 174, 6, 0.432);
                                border-radius: 10px;
                                @include flexbox(center,center,row);
                                img{
                                    width: 20px;
                                }
                                &.fail{
                                    background-color: rgb(255, 43, 43);
                                    box-shadow: 2px 2px 10px rgba(255, 43, 43, 0.357);
                                    
                                }
                                &.available{
                                    background-color: rgb(80, 80, 255);
                                    box-shadow: 2px 2px 10px rgba(80, 80, 255, 0.467);
                                }
                                &.total{
                                    background-color: rgb(255, 22, 255);
                                    box-shadow: 2px 2px 10px rgba(255, 22, 255, 0.549);
                                }
                            }
                            .card_info{
                                // position: absolute;
                                // bottom: 0;
                                .card_content{
                                    h2{
                                        font-size: 30px;
                                        margin-bottom: 8px;
                                        color: $primary-black;
                                    }
                                    p{
                                        font-size: 14px;
                                        color: #292929;
                                    }
                                }
                            }
                            
                        }

                    }
                    @media only screen and (max-width: 800px){
                        &{
                            grid-template-columns: 1fr 1fr;
                            grid-template-rows: 1fr 1fr;
                            height: auto;
                            .card{
                                .card_container{
                                    flex-direction: row;
                                    justify-content: flex-start;
                                    .card_icon{
                                        margin-right: 20px;
                                        
                                    }
                                    .card_info{
                                        .card_content{
                                            h2{
                                                font-size: 18px;
                                            }
                                            p{
                                                font-size: 12px;
                                            }
                                        }
                                    }
                                }
                            }

                        }
                    }
                }
                // Recent Works
                .recent_orders{
                    width: 100%;
                    height: auto;
                    .title{
                        margin-bottom: 20px;
                        h2{
                            font-size: 25px;
                            
                        }
                    }
                    .project_table{
                        width: 100%;
                        height: 300px;
                        display: grid;
                        grid-template-columns: 1fr 1fr 2fr;
                        grid-template-rows: 1fr;
                        grid-gap: 1rem;
                        .card{
                            width: 100%;
                            height: 100%;
                            background-color: #fff;
                            border-radius: 10px;
                            @include flexbox(center,center,row);
                            .card_container{
                                width: 90%;
                                height: 93%;
                                .img{
                                    width: 100%;
                                    border-radius: 5px;
                                    overflow: hidden;
                                    img{
                                        width: 100%;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}