* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "ubuntu", sans-serif;
}

body {
  background-color: #efefef;
}

h1, h2, h3, h4, h5, h, p {
  font-size: 16px;
}

ul {
  width: auto;
  height: auto;
}

ul li {
  list-style: none;
}

ol {
  width: auto;
  height: auto;
}

ol li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #556fe2;
}

.card {
  width: 100%;
  height: auto;
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
}

.card .device-title {
  margin-bottom: 10px;
}

.card .device-title h2 {
  font-size: 20px;
}

.card .device-body {
  margin-bottom: 20px;
}

.card .device-body p.main-dis {
  font-size: 16px;
  color: #555;
  margin-bottom: 10px;
  line-height: 20px;
}

.card .device-body p {
  margin-bottom: 7px;
  font-size: 16px;
}

.card .bottom button {
  padding: 8px 10px;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
}

.card .bottom .accept {
  background-color: #242424;
}

.card .bottom .decline {
  background-color: #ff4646;
}

.card .bottom .View {
  background-color: darkgray;
}

.login_form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 360px;
  height: auto;
  background: #fff;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.login_form .login_form_container {
  width: 320px;
  margin: 30px 0;
}

.login_form .login_form_container .login_form_title {
  width: auto;
  height: auto;
  margin-bottom: 40px;
}

.login_form .login_form_container .login_form_title h2 {
  font-size: 24px;
  color: #242424;
}

.login_form .login_form_container .login_option_button {
  margin-bottom: 20px;
}

.login_form .login_form_container .login_option_button button {
  display: block;
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
  background: transparent;
  outline: none;
  border: 2px solid #aaa9a9;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s ease;
}

.login_form .login_form_container .login_option_button button .fab {
  margin-right: 5px;
}

.login_form .login_form_container .login_option_button button.facebook {
  border: 2px solid #556fe2;
  color: #556fe2;
}

.login_form .login_form_container .login_option_button button.facebook:hover {
  background: #556fe2;
  color: #fff;
}

.login_form .login_form_container .login_option_button button.google {
  border: 2px solid #ff4646;
  color: #ff4646;
}

.login_form .login_form_container .login_option_button button.google:hover {
  background: #ff4646;
  color: #fff;
}

.login_form .login_form_container .login_option_button button:last-child() {
  margin-bottom: 0;
}

.login_form .login_form_container p {
  font-size: 14px;
  color: #aaa9a9;
  margin-bottom: 20px;
}

.login_form .login_form_container .actual_form {
  margin-bottom: 20px;
}

.login_form .login_form_container .actual_form form .form_control {
  width: 100%;
  margin-bottom: 10px;
  height: auto;
}

.login_form .login_form_container .actual_form form .form_control input {
  width: 100%;
  height: 40px;
  padding: 8px 7px;
  border-radius: 5px;
  outline: none;
  font-size: 12px;
  color: #242424;
  border: 1px solid #aaa9a9;
}

.login_form .login_form_container .actual_form form .form_control.last {
  margin-bottom: 20px;
}

.login_form .login_form_container .actual_form form .login_sbt_btn {
  width: 100%;
  height: 40px;
  border: none;
  background: #242424;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

.login_form .login_form_container .more_info {
  width: auto;
  height: auto;
  font-size: 14px;
}

.login_form .login_form_container .more_info p a {
  color: #242424;
  display: inline;
}

.login_form .login_form_container .more_info a {
  display: block;
  color: #242424;
  margin-bottom: 20px;
}

.login_form .login_form_container .more_info a:last-child {
  margin-bottom: 0;
}

@media only screen and (max-width: 380px) {
  .login_form {
    width: 90%;
  }
  .login_form .login_form_container {
    width: 90%;
  }
}

.register_form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 360px;
  height: auto;
  background: #fff;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.register_form_container {
  width: 320px;
  margin: 30px 0;
}

.register_form_container .register_form_title {
  width: auto;
  height: auto;
  margin-bottom: 40px;
}

.register_form_container .register_form_title h2 {
  font-size: 24px;
  color: #242424;
}

.register_form_container .signup_option {
  margin-bottom: 20px;
}

.register_form_container .signup_option button {
  display: block;
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
  background: transparent;
  outline: none;
  border: 2px solid #aaa9a9;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s ease;
}

.register_form_container .signup_option button .fab {
  margin-right: 5px;
}

.register_form_container .signup_option button.facebook {
  border: 2px solid #556fe2;
  color: #556fe2;
}

.register_form_container .signup_option button.facebook:hover {
  background: #556fe2;
  color: #fff;
}

.register_form_container .signup_option button.google {
  border: 2px solid #ff4646;
  color: #ff4646;
}

.register_form_container .signup_option button.google:hover {
  background: #ff4646;
  color: #fff;
}

.register_form_container .signup_option button:last-child() {
  margin-bottom: 0;
}

.register_form_container p {
  font-size: 14px;
  color: #aaa9a9;
  margin-bottom: 20px;
}

.register_form_container .actual_form {
  margin-bottom: 20px;
}

.register_form_container .actual_form form .form_control {
  width: 100%;
  margin-bottom: 10px;
  height: auto;
}

.register_form_container .actual_form form .form_control input {
  width: 100%;
  height: 40px;
  padding: 8px 7px;
  border-radius: 5px;
  outline: none;
  font-size: 12px;
  color: #242424;
  border: 1px solid #aaa9a9;
}

.register_form_container .actual_form form .form_control input[type="checkbox"] {
  width: 15px;
}

.register_form_container .actual_form form .form_control.last {
  margin-bottom: 20px;
}

.register_form_container .actual_form form .form_control.double {
  display: flex;
  justify-content: space-between;
}

.register_form_container .actual_form form .form_control.double input {
  margin-right: 10px;
}

.register_form_container .actual_form form .form_control.double .last {
  margin-right: 0;
}

@media only screen and (max-width: 300px) {
  .register_form_container .actual_form form .form_control.double {
    flex-direction: column;
  }
  .register_form_container .actual_form form .form_control.double input {
    margin-right: 0;
    margin-bottom: 10px;
  }
  .register_form_container .actual_form form .form_control.double input:nth-child(2) {
    margin: 0;
  }
}

.register_form_container .actual_form form .last_control {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.register_form_container .actual_form form .last_control input {
  margin-right: 10px;
}

.register_form_container .actual_form form .last_control label {
  font-size: 12px;
  color: #696969;
}

.register_form_container .actual_form form .last_control p {
  text-align: start;
  font-size: 11px;
  line-height: 15px;
}

.register_form_container .actual_form form .signup_sbt_btn {
  width: 100%;
  height: 40px;
  border: none;
  background: #242424;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

.register_form_container .more_info {
  width: auto;
  height: auto;
  font-size: 14px;
}

.register_form_container .more_info p a {
  color: #242424;
  display: inline;
}

.register_form_container .more_info a {
  display: block;
  color: #242424;
  margin-bottom: 20px;
}

.register_form_container .more_info a:last-child {
  margin-bottom: 0;
}

@media only screen and (max-width: 380px) {
  .register_form {
    width: 90%;
  }
  .register_form_container {
    width: 90%;
  }
}

.main_container {
  position: absolute;
  left: 240px;
  top: 60px;
  width: calc(100% - 240px);
  height: auto;
  padding: 10px;
}

.main_container .user-dashboard-info {
  width: 100%;
  height: 150px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-gap: 15px;
  margin-bottom: 30px;
}

.main_container .user-dashboard-info .card {
  width: 100%;
  height: 100%;
  background: #fff;
  box-shadow: 0px 0px 10px rgba(140, 140, 140, 0.487);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 0px;
}

.main_container .user-dashboard-info .card .container {
  width: 90%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main_container .user-dashboard-info .card .container .card-icon {
  width: 60px;
  height: 60px;
  box-shadow: 0px 0px 10px 2px rgba(62, 184, 5, 0.371);
  background-color: #3bbb00;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  border-radius: 10px;
}

.main_container .user-dashboard-info .card .container .card-icon img {
  width: 30px;
  height: 30px;
}

.main_container .user-dashboard-info .card .container .card-content {
  color: #242424;
}

.main_container .user-dashboard-info .card .container .card-content h2 {
  font-size: 35px;
  margin-bottom: 7px;
}

@media only screen and (max-width: 400px) {
  .main_container .user-dashboard-info .card .container {
    flex-direction: row;
    align-items: center;
    justify-content: initial;
  }
  .main_container .user-dashboard-info .card .container .card-icon {
    margin-right: 20px;
  }
}

.main_container .user-dashboard-info .card.card2 .container .card-icon {
  background-color: #ff4646;
  box-shadow: 0px 0px 10px 2px rgba(255, 37, 95, 0.371);
}

.main_container .user-dashboard-info .card.card3 .container .card-icon {
  background-color: #556fe2;
  box-shadow: 0px 0px 10px 2px rgba(135, 91, 255, 0.371);
}

.main_container .user-dashboard-info .card.card4 .container .card-icon {
  background-color: #7f01d8;
  box-shadow: 0px 0px 10px 2px rgba(126, 1, 216, 0.494);
}

@media only screen and (max-width: 900px) {
  .main_container {
    left: 0;
    width: 100%;
  }
}

@media only screen and (max-width: 700px) {
  .main_container .user-dashboard-info {
    height: 400px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 400px) {
  .main_container .user-dashboard-info {
    height: 500px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
  }
}

.main_container .recentOrders {
  width: 100%;
}

.main_container .recentOrders .header {
  margin-bottom: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main_container .recentOrders .header h2 {
  font-size: 30px;
  color: #242424;
}

.main_container .recentOrders .header a {
  color: #242424;
  font-size: 16px;
  border-bottom: 1px solid #242424;
}

.main_container .recentOrders .content {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr;
  grid-gap: 1rem;
}

@media only screen and (min-width: 1350px) {
  .main_container .recentOrders .content {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media only screen and (max-width: 1000px) {
  .main_container .recentOrders .content {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 550px) {
  .main_container .recentOrders .content {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
  }
}

.orderDeclineView {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.295);
  z-index: 11;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  display: none;
}

.orderDeclineView .container {
  width: 400px;
  height: auto;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.261);
  padding: 10px;
}

.orderDeclineView .container .title {
  margin-bottom: 20px;
}

.orderDeclineView .container .title h2 {
  font-size: 20px;
  color: #242424;
  line-height: 30px;
}

.orderDeclineView .container .buttons {
  margin-bottom: 5px;
}

.orderDeclineView .container .buttons a {
  padding: 7px 12px;
  border-radius: 5px;
}

.orderDeclineView .container .buttons .confirmBtn {
  background-color: #ff4646;
  color: #fff;
  margin-right: 10px;
}

.orderDeclineView .container .buttons .cancleBtn {
  background-color: gray;
  color: #fff;
}

@media only screen and (max-width: 500px) {
  .orderDeclineView .container {
    width: 90%;
  }
}

.orderDeclineView.orderActive {
  display: flex;
}

#dashboard_nav {
  width: 100%;
  height: 60px;
  background-color: #242424;
  position: fixed;
  z-index: 10;
}

#dashboard_nav .wrapper {
  position: relative;
  width: calc(100% - 20px);
  margin: 0 auto;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

#dashboard_nav .wrapper .nav-box {
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

#dashboard_nav .wrapper .nav-box .hamburger-menu {
  width: auto;
  height: auto;
  margin-right: 20px;
  cursor: pointer;
  display: none;
}

#dashboard_nav .wrapper .nav-box .hamburger-menu div {
  width: 25px;
  height: 2px;
  background-color: #fff;
  margin-bottom: 4px;
}

#dashboard_nav .wrapper .nav-box .hamburger-menu div:last-child {
  margin-bottom: 0px;
  width: calc(25px / 2);
}

@media only screen and (max-width: 900px) {
  #dashboard_nav .wrapper .nav-box .hamburger-menu {
    display: block;
  }
}

#dashboard_nav .wrapper .nav-box .logo img {
  width: 100px;
}

#dashboard_nav .wrapper .second {
  width: auto;
  height: auto;
}

#dashboard_nav .wrapper .second .profile-info {
  width: 43px;
  height: 43px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: #556fe2;
  cursor: pointer;
}

#dashboard_nav .wrapper .second .profile-info .profile-img {
  width: 35px;
  height: 35px;
  overflow: hidden;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

#dashboard_nav .wrapper .second .profile-info .profile-img img {
  width: 45px;
}

#dashboard_nav .wrapper .second .nav-drop {
  display: none;
  position: absolute;
  width: 150px;
  height: auto;
  right: 0px;
  top: 65px;
  border: 1px solid #333333;
  border-radius: 5px;
  z-index: 3;
}

#dashboard_nav .wrapper .second .nav-drop ul {
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 130px;
  height: auto;
}

#dashboard_nav .wrapper .second .nav-drop ul li {
  padding: 5px 5px;
  width: 100%;
  margin-bottom: 2px;
  border-radius: 3px;
}

#dashboard_nav .wrapper .second .nav-drop ul li:last-child {
  background-color: #242424;
}

#dashboard_nav .wrapper .second .nav-drop ul li:last-child a {
  color: #fff;
}

#dashboard_nav .wrapper .second .nav-drop ul li:hover {
  background-color: #e1e1e1;
}

#dashboard_nav .wrapper .second .nav-drop ul li:last-child:hover {
  background-color: #242424;
}

#dashboard_nav .wrapper .second .nav-drop ul li a {
  color: #242424;
  font-size: 15px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#overlay {
  width: 100%;
  height: 100vh;
  background-color: rgba(10, 9, 9, 0.357);
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.side_nav {
  z-index: 10;
  top: 60px;
  transition: 1s ease;
  width: 240px;
  height: calc(100vh - 60px);
  background-color: #242424;
  padding: 10px 20px;
  position: fixed;
  display: flex;
  flex-direction: column;
}

.side_nav .nav_menu .nav_items {
  width: auto;
  height: auto;
}

.side_nav .nav_menu .nav_items h2 {
  font-size: 14px;
  color: #b1b1b1;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.side_nav .nav_menu .nav_items ul {
  margin-bottom: 20px;
}

.side_nav .nav_menu .nav_items ul li {
  display: block;
  margin-bottom: 10px;
  width: 100%;
}

.side_nav .nav_menu .nav_items ul li a {
  display: block;
  width: 100%;
  height: 100%;
  padding: 10px 5px;
  color: #b1b1b1;
}

.side_nav .user_profile {
  margin-top: auto;
  display: flex;
  align-items: center;
  padding: 5px;
}

.side_nav .user_profile .user_img {
  margin-right: 10px;
}

.side_nav .user_profile .user_img img {
  width: 50px;
  border-radius: 50%;
}

.side_nav .user_profile .user_content {
  color: #fff;
}

.side_nav .user_profile .user_content h2 {
  font-size: 16px;
}

.side_nav .user_profile .user_content p {
  font-size: 14px;
}

@media only screen and (max-width: 600px) {
  .side_nav {
    transform: translateX(-100%);
  }
}

.main_container .availabe_page {
  width: 100%;
  height: 100%;
}

.main_container .availabe_page .available_page_title {
  margin-bottom: 20px;
}

.main_container .availabe_page .available_page_title h2 {
  font-size: 22px;
}

.main_container .availabe_page .available_page_orders {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-gap: 20px;
}

.main_container .availabe_page .available_page_orders .card {
  width: 100%;
  min-height: 200px;
  max-height: auto;
  background-color: #fff;
}

.main_container .availabe_page .available_page_orders .card .card-content {
  position: relative;
  margin: 20px;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main_container .availabe_page .available_page_orders .card .card-content .top {
  margin-bottom: 20px;
}

.main_container .availabe_page .available_page_orders .card .card-content .top h2 {
  font-size: 18px;
  margin-bottom: 20px;
}

.main_container .availabe_page .available_page_orders .card .card-content .top p {
  font-size: 16px;
  line-height: 22px;
  color: #4b4b4b;
}

@media only screen and (min-width: 1350px) {
  .main_container .availabe_page .available_page_orders {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media only screen and (min-width: 1650px) {
  .main_container .availabe_page .available_page_orders {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media only screen and (max-width: 1100px) {
  .main_container .availabe_page .available_page_orders {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 600px) {
  .main_container .availabe_page .available_page_orders {
    grid-template-columns: repeat(1, 1fr);
  }
}

.main_container .item_details {
  width: 100%;
  height: auto;
}

.main_container .item_details .item-detail {
  display: flex;
  width: 100%;
  height: auto;
}

.main_container .item_details .item-detail .item-img {
  width: 500px;
}

.main_container .item_details .item-detail .item-img img {
  width: 100%;
}

.main_container .item_details .item-detail .item-content {
  position: relative;
  width: auto;
  width: 50%;
  margin-left: 20px;
}

.main_container .item_details .item-detail .item-content .top h2 {
  font-size: 40px;
  margin-bottom: 20px;
}

.main_container .item_details .item-detail .item-content .top p {
  margin-bottom: 10px;
  color: #383838;
  line-height: 20px;
  font-size: 16px;
}

.main_container .item_details .item-detail .item-content .top .device-usage {
  width: auto;
  display: flex;
}

.main_container .item_details .item-detail .item-content .top .device-usage p {
  display: block;
  font-size: 15px;
  padding: 7px 10px;
  border-radius: 5px;
}

.main_container .item_details .item-detail .item-content .top .device-usage .Firsthand {
  border: 1px solid #556fe2;
  color: #556fe2;
}

.main_container .item_details .item-detail .item-content .top .device-usage .Secondhand {
  border: 1px solid #07a807;
  color: #07a807;
}

.main_container .item_details .item-detail .item-content .top .device-usage .Thirdhand {
  border: 1px solid #555;
  color: #555;
}

.main_container .item_details .item-detail .item-content .top .device-usage .Manyhand {
  border: 1px solid crimson;
  color: crimson;
}

.main_container .item_details .item-detail .item-content .top .device-maintenance-rate {
  width: auto;
  display: flex;
}

.main_container .item_details .item-detail .item-content .top .device-maintenance-rate p {
  display: block;
  font-size: 15px;
  border-radius: 5px;
}

.main_container .item_details .item-detail .item-content .top .device-maintenance-rate p:first-child {
  margin-right: 5px;
}

.main_container .item_details .item-detail .item-content .top .device-maintenance-rate .goodrate {
  color: #07a807;
}

.main_container .item_details .item-detail .item-content .top .device-maintenance-rate .midrate {
  color: #555;
}

.main_container .item_details .item-detail .item-content .top .device-maintenance-rate .badrate {
  color: crimson;
}

.main_container .item_details .item-detail .item-content .top .summary p {
  font-size: 14px;
}

.main_container .item_details .item-detail .item-content .bottom {
  position: absolute;
  bottom: 10px;
}

.main_container .item_details .item-detail .item-content .bottom a {
  padding: 10px 20px;
  margin-right: 5px;
  border-radius: 5px;
}

.main_container .item_details .item-detail .item-content .bottom .acceptOrder {
  background-color: #556fe2;
  color: #fff;
}

.main_container .item_details .item-detail .item-content .bottom .cancelOrder {
  background-color: #383838;
  color: #fff;
}

@media only screen and (max-width: 815px) {
  .main_container .item_details .item-detail {
    flex-direction: column;
  }
  .main_container .item_details .item-detail .item-img {
    width: 100%;
    margin-bottom: 20px;
  }
  .main_container .item_details .item-detail .item-content {
    width: 100%;
    margin-left: 0px;
  }
  .main_container .item_details .item-detail .item-content .top {
    margin-bottom: 40px;
  }
  .main_container .item_details .item-detail .item-content .bottom {
    position: initial;
  }
}

.inProgress_page {
  width: 100%;
  height: auto;
}

.inProgress_page .title {
  margin-bottom: 30px;
}

.inProgress_page .title h2 {
  font-size: 25px;
}

.inProgress_page .inProgress_section {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-gap: 15px;
}

.inProgress_page .inProgress_section .card {
  position: relative;
  width: 100%;
  height: atuo;
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
}

.inProgress_page .inProgress_section .card .item-img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.inProgress_page .inProgress_section .card .item-img img {
  width: 100%;
}

.inProgress_page .inProgress_section .card .item-content .top {
  margin-bottom: 20px;
}

.inProgress_page .inProgress_section .card .item-content .top h2 {
  font-size: 24px;
  margin-bottom: 5px;
}

.inProgress_page .inProgress_section .card .item-content .top p {
  font-size: 16px;
  color: #999;
  line-height: 22px;
}

.inProgress_page .inProgress_section .card .item-content .bottom {
  position: inherit;
  bottom: 0;
  margin-bottom: 10px;
}

.inProgress_page .inProgress_section .card .item-content .bottom a {
  padding: 10px 20px;
  background-color: #242424;
  color: #fff;
  border-radius: 5px;
}

@media only screen and (min-width: 1350px) {
  .inProgress_page .inProgress_section {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media only screen and (max-width: 800px) {
  .inProgress_page .inProgress_section {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 600px) {
  .inProgress_page .inProgress_section {
    grid-template-columns: repeat(1, 1fr);
  }
}

.completed_page {
  width: 100%;
  height: auto;
}

.completed_page .title {
  margin-bottom: 30px;
}

.completed_page .title h2 {
  font-size: 25px;
}

.completed_page .completed_section {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-gap: 15px;
}

.completed_page .completed_section .card {
  position: relative;
  width: 100%;
  height: atuo;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
}

.completed_page .completed_section .card .item-img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.completed_page .completed_section .card .item-img img {
  width: 100%;
}

.completed_page .completed_section .card .item-content .top {
  margin-bottom: 20px;
}

.completed_page .completed_section .card .item-content .top h2 {
  font-size: 24px;
  margin-bottom: 5px;
}

.completed_page .completed_section .card .item-content .top p {
  font-size: 16px;
  color: #999;
  line-height: 22px;
}

.completed_page .completed_section .card .item-content .bottom {
  position: inherit;
  bottom: 0;
  margin-bottom: 10px;
}

.completed_page .completed_section .card .item-content .bottom a {
  padding: 10px 20px;
  background-color: #242424;
  color: #fff;
  border-radius: 5px;
}

@media only screen and (min-width: 1350px) {
  .completed_page .completed_section {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media only screen and (max-width: 800px) {
  .completed_page .completed_section {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 600px) {
  .completed_page .completed_section {
    grid-template-columns: repeat(1, 1fr);
  }
}

.profile_setting {
  width: 100%;
  height: auto;
  background-color: #fff;
  padding: 15px;
}

.profile_setting .title {
  margin-bottom: 25px;
}

.profile_setting .title h2 {
  font-size: 25px;
}

.profile_setting form {
  width: 100%;
  height: auto;
}

.profile_setting form .form-action {
  margin-bottom: 15px;
}

.profile_setting form .form-action input {
  width: 100%;
  height: 40px;
  border: 1px solid #e2e2e2;
  border-radius: 5px;
  outline: none;
  padding: 10px;
}

.profile_setting form .form-action .group {
  margin-bottom: 20px;
}

.profile_setting form .form-action .group:last-child {
  margin-bottom: 0px;
}

.profile_setting form button {
  padding: 10px 25px;
  background-color: #242424;
  color: #fff;
  border: none;
  outline: none;
  border-radius: 5px;
}
/*# sourceMappingURL=main.css.map */