* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "ubuntu", sans-serif;
}

body {
  background-color: #efefef;
}

h1, h2, h3, h4, h5, h, p {
  font-size: 16px;
}

ul {
  width: auto;
  height: auto;
}

ul li {
  list-style: none;
}

ol {
  width: auto;
  height: auto;
}

ol li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #556fe2;
}

.login_form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 360px;
  height: auto;
  background: #fff;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.login_form .login_form_container {
  width: 320px;
  margin: 30px 0;
}

.login_form .login_form_container .login_form_title {
  width: auto;
  height: auto;
  margin-bottom: 40px;
}

.login_form .login_form_container .login_form_title h2 {
  font-size: 24px;
  color: #242424;
}

.login_form .login_form_container .login_option_button {
  margin-bottom: 20px;
}

.login_form .login_form_container .login_option_button button {
  display: block;
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
  background: transparent;
  outline: none;
  border: 2px solid #aaa9a9;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s ease;
}

.login_form .login_form_container .login_option_button button .fab {
  margin-right: 5px;
}

.login_form .login_form_container .login_option_button button.facebook {
  border: 2px solid #556fe2;
  color: #556fe2;
}

.login_form .login_form_container .login_option_button button.facebook:hover {
  background: #556fe2;
  color: #fff;
}

.login_form .login_form_container .login_option_button button.google {
  border: 2px solid #ff4646;
  color: #ff4646;
}

.login_form .login_form_container .login_option_button button.google:hover {
  background: #ff4646;
  color: #fff;
}

.login_form .login_form_container .login_option_button button:last-child() {
  margin-bottom: 0;
}

.login_form .login_form_container p {
  font-size: 14px;
  color: #aaa9a9;
  margin-bottom: 20px;
}

.login_form .login_form_container .actual_form {
  margin-bottom: 20px;
}

.login_form .login_form_container .actual_form form .form_control {
  width: 100%;
  margin-bottom: 10px;
  height: auto;
}

.login_form .login_form_container .actual_form form .form_control input {
  width: 100%;
  height: 40px;
  padding: 8px 7px;
  border-radius: 5px;
  outline: none;
  font-size: 12px;
  color: #242424;
  border: 1px solid #aaa9a9;
}

.login_form .login_form_container .actual_form form .form_control.last {
  margin-bottom: 20px;
}

.login_form .login_form_container .actual_form form .login_sbt_btn {
  width: 100%;
  height: 40px;
  border: none;
  background: #242424;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

.login_form .login_form_container .more_info {
  width: auto;
  height: auto;
  font-size: 14px;
}

.login_form .login_form_container .more_info p a {
  color: #242424;
  display: inline;
}

.login_form .login_form_container .more_info a {
  display: block;
  color: #242424;
  margin-bottom: 20px;
}

.login_form .login_form_container .more_info a:last-child {
  margin-bottom: 0;
}

@media only screen and (max-width: 380px) {
  .login_form {
    width: 90%;
  }
  .login_form .login_form_container {
    width: 90%;
  }
}

.register_form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 360px;
  height: auto;
  background: #fff;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.register_form_container {
  width: 320px;
  margin: 30px 0;
}

.register_form_container .register_form_title {
  width: auto;
  height: auto;
  margin-bottom: 40px;
}

.register_form_container .register_form_title h2 {
  font-size: 24px;
  color: #242424;
}

.register_form_container .signup_option {
  margin-bottom: 20px;
}

.register_form_container .signup_option button {
  display: block;
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
  background: transparent;
  outline: none;
  border: 2px solid #aaa9a9;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s ease;
}

.register_form_container .signup_option button .fab {
  margin-right: 5px;
}

.register_form_container .signup_option button.facebook {
  border: 2px solid #556fe2;
  color: #556fe2;
}

.register_form_container .signup_option button.facebook:hover {
  background: #556fe2;
  color: #fff;
}

.register_form_container .signup_option button.google {
  border: 2px solid #ff4646;
  color: #ff4646;
}

.register_form_container .signup_option button.google:hover {
  background: #ff4646;
  color: #fff;
}

.register_form_container .signup_option button:last-child() {
  margin-bottom: 0;
}

.register_form_container p {
  font-size: 14px;
  color: #aaa9a9;
  margin-bottom: 20px;
}

.register_form_container .actual_form {
  margin-bottom: 20px;
}

.register_form_container .actual_form form .form_control {
  width: 100%;
  margin-bottom: 10px;
  height: auto;
}

.register_form_container .actual_form form .form_control input {
  width: 100%;
  height: 40px;
  padding: 8px 7px;
  border-radius: 5px;
  outline: none;
  font-size: 12px;
  color: #242424;
  border: 1px solid #aaa9a9;
}

.register_form_container .actual_form form .form_control input[type="checkbox"] {
  width: 15px;
}

.register_form_container .actual_form form .form_control.last {
  margin-bottom: 20px;
}

.register_form_container .actual_form form .form_control.double {
  display: flex;
  justify-content: space-between;
}

.register_form_container .actual_form form .form_control.double input {
  margin-right: 10px;
}

.register_form_container .actual_form form .form_control.double .last {
  margin-right: 0;
}

@media only screen and (max-width: 300px) {
  .register_form_container .actual_form form .form_control.double {
    flex-direction: column;
  }
  .register_form_container .actual_form form .form_control.double input {
    margin-right: 0;
    margin-bottom: 10px;
  }
  .register_form_container .actual_form form .form_control.double input:nth-child(2) {
    margin: 0;
  }
}

.register_form_container .actual_form form .last_control {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.register_form_container .actual_form form .last_control input {
  margin-right: 10px;
}

.register_form_container .actual_form form .last_control label {
  font-size: 12px;
  color: #696969;
}

.register_form_container .actual_form form .last_control p {
  text-align: start;
  font-size: 11px;
  line-height: 15px;
}

.register_form_container .actual_form form .signup_sbt_btn {
  width: 100%;
  height: 40px;
  border: none;
  background: #242424;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

.register_form_container .more_info {
  width: auto;
  height: auto;
  font-size: 14px;
}

.register_form_container .more_info p a {
  color: #242424;
  display: inline;
}

.register_form_container .more_info a {
  display: block;
  color: #242424;
  margin-bottom: 20px;
}

.register_form_container .more_info a:last-child {
  margin-bottom: 0;
}

@media only screen and (max-width: 380px) {
  .register_form {
    width: 90%;
  }
  .register_form_container {
    width: 90%;
  }
}

body {
  background-color: #f1f1f1;
  color: #242424;
}

.container {
  display: flex;
}

.container .main_content {
  width: 100%;
  height: auto;
}

.container .main_content .body_content {
  width: 100%;
  height: auto;
}

.container .main_content .body_content .wrapper {
  margin: 20px auto;
  width: 95%;
  height: 100%;
}

.container .main_content .body_content .wrapper .info_cards {
  width: 100%;
  height: 150px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 1rem;
  margin-bottom: 20px;
}

.container .main_content .body_content .wrapper .info_cards .card {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  padding: 10px 0px;
  height: auto;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  position: relative;
}

.container .main_content .body_content .wrapper .info_cards .card .card_container {
  position: relative;
  width: 90%;
  height: 95%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container .main_content .body_content .wrapper .info_cards .card .card_container .card_icon {
  position: relative;
  width: 50px;
  height: 50px;
  margin-right: 10px;
  background: #36b802;
  box-shadow: 2px 2px 10px rgba(54, 174, 6, 0.432);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.container .main_content .body_content .wrapper .info_cards .card .card_container .card_icon img {
  width: 20px;
}

.container .main_content .body_content .wrapper .info_cards .card .card_container .card_icon.fail {
  background-color: #ff2b2b;
  box-shadow: 2px 2px 10px rgba(255, 43, 43, 0.357);
}

.container .main_content .body_content .wrapper .info_cards .card .card_container .card_icon.available {
  background-color: #5050ff;
  box-shadow: 2px 2px 10px rgba(80, 80, 255, 0.467);
}

.container .main_content .body_content .wrapper .info_cards .card .card_container .card_icon.total {
  background-color: #ff16ff;
  box-shadow: 2px 2px 10px rgba(255, 22, 255, 0.549);
}

.container .main_content .body_content .wrapper .info_cards .card .card_container .card_info .card_content h2 {
  font-size: 30px;
  margin-bottom: 8px;
  color: #242424;
}

.container .main_content .body_content .wrapper .info_cards .card .card_container .card_info .card_content p {
  font-size: 14px;
  color: #292929;
}

@media only screen and (max-width: 800px) {
  .container .main_content .body_content .wrapper .info_cards {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: auto;
  }
  .container .main_content .body_content .wrapper .info_cards .card .card_container {
    flex-direction: row;
    justify-content: flex-start;
  }
  .container .main_content .body_content .wrapper .info_cards .card .card_container .card_icon {
    margin-right: 20px;
  }
  .container .main_content .body_content .wrapper .info_cards .card .card_container .card_info .card_content h2 {
    font-size: 18px;
  }
  .container .main_content .body_content .wrapper .info_cards .card .card_container .card_info .card_content p {
    font-size: 12px;
  }
}

.container .main_content .body_content .wrapper .recent_orders {
  width: 100%;
  height: auto;
}

.container .main_content .body_content .wrapper .recent_orders .title {
  margin-bottom: 20px;
}

.container .main_content .body_content .wrapper .recent_orders .title h2 {
  font-size: 25px;
}

.container .main_content .body_content .wrapper .recent_orders .project_table {
  width: 100%;
  height: 300px;
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  grid-template-rows: 1fr;
  grid-gap: 1rem;
}

.container .main_content .body_content .wrapper .recent_orders .project_table .card {
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.container .main_content .body_content .wrapper .recent_orders .project_table .card .card_container {
  width: 90%;
  height: 93%;
}

.container .main_content .body_content .wrapper .recent_orders .project_table .card .card_container .img {
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
}

.container .main_content .body_content .wrapper .recent_orders .project_table .card .card_container .img img {
  width: 100%;
}

.container .dashboard_nav {
  overflow-x: hidden;
  position: relative;
  width: 250px;
  height: 100vh;
  background-color: #fff;
}

.container .dashboard_nav_header {
  width: 100%;
  height: 70px;
  padding: 0px 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}

.container .dashboard_nav_header .logo {
  width: 130px;
  height: 40px;
  border-radius: 10px;
  background-color: #242424;
}

.container .dashboard_nav .nav_items {
  position: relative;
  top: 60px;
  width: 100%;
  height: auto;
}

.container .dashboard_nav .nav_items .nav_links {
  width: 100%;
  height: auto;
  padding: 10px 20px;
}

.container .dashboard_nav .nav_items .nav_links .title {
  width: auto;
  margin-bottom: 15px;
}

.container .dashboard_nav .nav_items .nav_links .title h2 {
  font-size: 14px;
  color: #a1a1a1;
}

.container .dashboard_nav .nav_items .nav_links ul li {
  margin-bottom: 5px;
}

.container .dashboard_nav .nav_items .nav_links ul li a {
  display: flex;
  font-size: 15px;
  color: #242424;
  padding: 5px 5px;
}

.container .dashboard_nav .nav_items .nav_links ul li a:hover {
  background-color: #f1f1f1;
}

.container .dashboard_nav .current_account {
  position: absolute;
  width: 100%;
  height: 70px;
  margin-bottom: auto;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.container .dashboard_nav .current_account .user_info {
  width: 100%;
  height: 100%;
  margin: 10px;
  margin-bottom: 30px;
  background-color: #242424;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.container .dashboard_nav .current_account .user_info .wrapper {
  width: 95%;
  height: 90%;
  display: flex;
  align-items: center;
}

.container .dashboard_nav .current_account .user_info .wrapper .user_img {
  position: relative;
  left: 5px;
  width: 45px;
  height: 45px;
  border-radius: 10px;
  overflow: hidden;
}

.container .dashboard_nav .current_account .user_info .wrapper .user_img img {
  width: 100%;
}

.container .dashboard_nav .current_account .user_info .wrapper .user_content {
  width: auto;
  height: auto;
  margin-left: 15px;
  text-align: justify;
  color: #fff;
}

.container .dashboard_nav .current_account .user_info .wrapper .user_content h2 {
  font-size: 13px;
  margin-bottom: 5px;
}

.container .dashboard_nav .current_account .user_info .wrapper .user_content p {
  font-size: 12px;
  color: #a1a1a1;
}

@media only screen and (max-width: 900px) {
  .container .dashboard_nav {
    display: none;
  }
}

.container .main_content .top_nav {
  width: 100%;
  height: 50px;
  background-color: #fff;
}

.container .main_content .top_nav .wrapper {
  margin: 0 auto;
  width: 95%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container .main_content .top_nav .wrapper .nav_items {
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
}

.container .main_content .top_nav .wrapper .nav_items .ham_burger_menu {
  width: auto;
  height: auto;
  box-sizing: border-box;
  cursor: pointer;
  display: none;
  margin-right: 15px;
}

.container .main_content .top_nav .wrapper .nav_items .ham_burger_menu div {
  width: 25px;
  height: 2px;
  box-sizing: border-box;
  background-color: #242424;
  margin-bottom: 3px;
}

.container .main_content .top_nav .wrapper .nav_items .ham_burger_menu div:last-child {
  margin-bottom: 0px;
  width: 12.5px;
}

@media only screen and (max-width: 900px) {
  .container .main_content .top_nav .wrapper .nav_items .ham_burger_menu {
    display: block;
  }
}

.container .main_content .top_nav .wrapper .nav_items .title h2 {
  font-size: 20px;
  color: #242424;
}

.container .main_content .top_nav .wrapper .user_content {
  position: relative;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
}

.container .main_content .top_nav .wrapper .user_content .user_info {
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.container .main_content .top_nav .wrapper .user_content .user_info .user_img {
  width: 35px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.container .main_content .top_nav .wrapper .user_content .user_info .user_img img {
  width: 35px;
}

.container .main_content .top_nav .wrapper .user_content .user_info span {
  margin-left: 5px;
  color: #696969;
}

.container .main_content .top_nav .wrapper .user_content .profile_drop_down {
  z-index: 1;
  position: absolute;
  top: 50px;
  right: 0px;
  box-shadow: 0px 0px 10px 2px rgba(196, 196, 196, 0.33);
  width: 150px;
  height: auto;
  background-color: #fff;
  border-radius: 5px;
  display: none;
}

.container .main_content .top_nav .wrapper .user_content .profile_drop_down .container {
  width: 120px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
}

.container .main_content .top_nav .wrapper .user_content .profile_drop_down .container h2 {
  font-size: 14px;
  margin-bottom: 10px;
  color: #242424;
}

.container .main_content .top_nav .wrapper .user_content .profile_drop_down .container ul li a {
  display: block;
  margin-bottom: 5px;
  padding: 5px;
  font-size: 14px;
  color: #242424;
  border-radius: 5px;
  transition: .25s ease;
}

.container .main_content .top_nav .wrapper .user_content .profile_drop_down .container ul li a:last-child {
  margin-bottom: 0;
}

.container .main_content .top_nav .wrapper .user_content .profile_drop_down .container ul li a:hover {
  background-color: #f1f1f1;
}

.container .main_content .profile_section {
  width: 95%;
  height: auto;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 1.5rem;
  margin: 20px auto;
}

.container .main_content .profile_section .profile_part {
  width: 100%;
  height: auto;
}

.container .main_content .profile_section .main_profile_part {
  display: flex;
  flex-direction: column;
}

.container .main_content .profile_section .main_profile_part .user_info {
  background-color: #fff;
  position: relative;
  width: 100%;
  height: 300px;
  border-radius: 10px;
  overflow: hidden;
}

.container .main_content .profile_section .main_profile_part .user_info .profile_coverImg {
  width: 100%;
  height: 150px;
  background-color: #3d3d3d;
}

.container .main_content .profile_section .main_profile_part .user_info .user_basic_info {
  width: 100%;
  height: 150px;
  display: flex;
}

.container .main_content .profile_section .main_profile_part .user_info .user_basic_info .user_profile_img {
  position: relative;
  top: -60px;
  left: 20px;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
  border: 5px solid #fff;
}

.container .main_content .profile_section .main_profile_part .user_info .user_basic_info .user_profile_img img {
  width: 120px;
}

.container .main_content .profile_section .main_profile_part .user_info .user_basic_info .user_content {
  position: relative;
  left: 30px;
  top: 10px;
  text-align: justify;
  color: #242424;
}

.container .main_content .profile_section .main_profile_part .user_info .user_basic_info .user_content h2 {
  font-size: 25px;
  margin-bottom: 5px;
}

.container .main_content .profile_section .main_profile_part .user_info .user_basic_info .user_content p {
  color: #444;
  font-size: 14px;
  margin-bottom: 5px;
}

.container .main_content .profile_section .main_profile_part .user_info .user_basic_info .user_content .rating {
  font-weight: bold;
  font-size: 18px;
}

.container .main_content .profile_section .main_profile_part .profile_description {
  width: 100%;
  min-height: 100px;
  margin-top: 20px;
  background-color: #fff;
  border-radius: 10px;
}

.container .main_content .profile_section .main_profile_part .profile_description .profile_container {
  padding: 15px;
  flex-direction: column;
}

.container .main_content .profile_section .main_profile_part .profile_description .profile_container h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.container .main_content .profile_section .main_profile_part .profile_description .profile_container p {
  font-size: 15px;
  line-height: 20px;
  color: #444;
}
/*# sourceMappingURL=main.css.map */